@use 'colors' as *;

.back-button {
  color: var(--color-accent);
  transition: all 0.2s ease;

  &:hover {
    background-color: alpha(accent, 10%);
    transform: scale(1.1);
  }

  mat-icon {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}