// Highlighted card content styles
.app-card-content-highlighted {
  background: linear-gradient(135deg, rgba(29, 185, 84, 0.1) 0%, transparent 100%);
  padding: .5rem 1rem;
  border-radius: 8px;
  border: 1px solid rgba(29, 185, 84, 0.2);
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
    color: var(--spotify-white);
  }

  strong {
    color: var(--spotify-green);
  }
}