@use 'colors' as *;

// Highlighted card content styles
.app-card-content-highlighted {
  background: linear-gradient(135deg, alpha(accent, 10%) 0%, transparent 100%);
  padding: .5rem 1rem;
  border-radius: 8px;
  border: 1px solid alpha(accent, 20%);
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
    color: var(--color-text);
  }

  strong {
    color: var(--color-accent);
  }
}